<h1>About Mker</h1>

<img src="{{ 'img/face.png'|theme_resource }}" alt=""><br><br><br>

<p>Joe had a dream to help everyone become a designer.</p><br>
<p>Share some information about your flagship product here. Why it was made, who it was made for, what your goal is, and how much work you put into your product.</p><br>
<p>This is a fully customizable page. Edit the content of these three blocks of text with the customization options. Otherwise, you should go into the about.htm partial to fully customize it.</p>