{{ code_block('setup') }}


    
    <div class="row" id="main-footer">
        <div class="content">
            <div class="col-md-8"> 
                <ul class="list-unstyled col-md-4">
                    <li class="title">Menu</li>
                    <a href="{{ site_url('login') }}"><li>Home</li></a>
                    <a href="{{ site_url('contact') }}"><li>Products</li></a>
                    <a href="{{ site_url('profile') }}"><li>Contact Us</li></a>
                    <a href="{{ site_url('orders') }}"><li>Profile</li></a>
                </ul>
                <ul class="list-unstyled col-md-4">
                    <li class="title">Follow Us</li>
                    <a href="{{ site_url('login') }}"><li>Home</li></a>
                    <a href="{{ site_url('contact') }}"><li>Products</li></a>
                    <a href="{{ site_url('profile') }}"><li>Contact Us</li></a>
                    <a href="{{ site_url('orders') }}"><li>Profile</li></a>
                </ul>

            </div>
            <div class="col-xs-6 col-md-4" id="foot-info">
                <p>This is Mker Free Theme <br>
                    Powered by <a href="https://lemonstand.com/" target="_blank">LemonStand</a><br>
                </p>
            </div>
        </div>
    </div>
