{{ code_block('setup') }}

<div class="row" id="main-footer">
    <div class="content">
        <div class="col-md-8"> 
            <ul class="list-unstyled col-md-4">
                <li class="title">Menu</li>
                <a href="/"><li>Home</li></a>
                <a href="{{ site_url('shop') }}"><li>Products</li></a>
                <a href="{{ site_url('contact') }}"><li>Contact Us</li></a>
                <a href="{{ site_url('profile') }}"><li>Profile</li></a>
            </ul>
            <ul class="list-unstyled col-md-4">
                <li class="title">Follow Us</li>
               <a href="{{ theme.socialInstagramUrl }}"><i class="fa fa-instagram"></i></a>
              <a href="{{ theme.socialFacebookUrl }}"><i class="fa fa-facebook"></i></a>
              <a href="{{ theme.socialTwitterUrl }}"><i class="fa fa-twitter"></i></a>
              <a href="{{ theme.socialPinterestUrl }}"><i class="fa fa-pinterest"></i></a>
            </ul>

        </div>
    </div>
</div>
