	{% set on_sale = product.onSale %}
	<div id="product-gallery" class="col-md-7 row">

		<div class="col-md-12 banner">
			<ul>
			{% for image in product.images %}
				<li style="list-style:none;">
					<img src="{{ image.thumbnail('auto', 'auto') }}" alt="{{ product.name }}">
				</li>
			{% endfor %}
			</ul>
		</div>
		
			
			

	</div>

	<div id="product-detail" class="col-md-5 row">
		<h2>{{ product.name }}</h2> 
			  <p>{{product.description|unescape}}</p>
			  <p class="price">{{ product.price|currency }}</p>
			  	{% if on_sale %}
						<small class="previous-price">{{ product.fullPrice|currency }}</small>
					{% endif %} 
			  	{{ partial('shop-product-attributes', {'product':product}) }}
		{% if product.enabled %}
		      {{ partial('shop-product-options', {'product':product}) }}
		      {{ partial('shop-product-extras') }}
		      
		    {% if not product.isOutOfStock() or product.allow_preorder %}
		      <input type="hidden" name="productId" value="{{ product.id }}"/>
			      <div class="add-cart-holder form-group">
			        <div class="quantity-selector">
			          <label for="quantity">Quantity</label>
			          <input class="form-control quantity" type="text" value="{{ quantity|default("1") }}" name="quantity"/>
			        </div>
			        {{ flash() }}
			        <a class="btn btn-important btn-add-cart" href="#" data-ajax-handler="shop:onAddToCart" data-ajax-update="#product-detail=product-detail, #cart-totals=cart-totals">Add to Cart  </a>
			      </div>
			      
			    {% else %}
			      <div class="not-available">
			        <h5>This product is temporarily unavailable</h5>
			      <div>
			    {% endif %}
			    
			  {% else %}
			    <div class="not-available">
			      <h5>This product is not available</h5>
			    <div>
		  {% endif %}
	</div>


