.banner{
  padding:0;
}
.banner ul{
  list-style: none;
  padding-left:0;
}
.banner ul li{
  list-style: none;
  margin:0 auto;
  float:left;
  text-align: center;
}
.banner ul li img{
  /*width:90%;*/
  display:inline-block;
  margin:0 auto;
}
.unslider-arrow{
  position:absolute;
  top:70px;
  left:0;
}
.unslider-arrow:hover{
  cursor:pointer;
}
.banner .next{
  right:0;
  text-align: right;
}
#loading-indicator{
  z-index: 99999;
}
.list-group-item{
  border:none;
  border-top:1px solid #f1f1f1;
}

.banner .dots {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 20px;
  padding-left:0;
}
.banner .dots li {
  display: inline-block;
  *display: inline;
  zoom: 1;

  width: 10px;
  height: 10px;
  line-height: 10px;
  margin: 0 4px;

  text-indent: -999em;
  *text-indent: 0;

  border: 2px solid #ccc;
  border-radius: 6px;

  cursor: pointer;
  opacity: .9;

  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}
.banner .dots li.active {
  background: #ccc;
  opacity: 1;
}



/*============================================
    BASE STYLES
=============================================*/
body{
  font-family: 'Roboto', sans-serif;
  color:#363636;
  background:white;
}
.previous-price{
  text-decoration: line-through;
  text-align: center;
  padding-right:0px;
}
#no-padding{
  padding-bottom:0;
}
#right-sidebar{
  padding-top:40px;
}
label{
  color:rgb(89, 89, 89);
  font-weight:400;
  font-size:0.8em;
}
.jumbotron{
  margin-bottom:0px;
  line-height:1;
  /*background:#F5F5F5;*/
  background:white;
}
#guest-button{
  background:rgb(192, 192, 192);
  color:rgb(108, 122, 137);
}
#title-p{
  border-bottom:2px solid #00bbde;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-top:10px;
}
#title-p-d{
  border-bottom:2px solid #00bbde;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top:10px;
  padding-bottom:10px;
}
i{
  padding-right:0px;
  color:#363636;
}
.table{
  margin-bottom:3px;
}

.h6{
  line-height:2em;
}
.row{
  padding-top:50px;
  padding-bottom:50px;
  margin:0;
}

.full-width{
  padding:0;
}
.added{
  color:black;
  background:white;

  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.added #navbar-totals{
  color:black;
}
.form-horizontal .form-group{
  margin-left:0px;
  margin-bottom:0;
}

.custom-radio{
}
.btn-link{
  color:#c9c9c9;
}
.btn-link:hover{
  text-decoration: none;
  color:black;
}
.panel-body{
  padding-top:10px;
}

a{
  color:rgba(0,0,0,0.5);
}
a:hover{
    text-decoration: none;
  color:black;
}
.content{
  margin:0 auto;
  width:70%;
}
/*============================================
     NAVIGATION STYLES
=============================================*/
.navbar{
  padding:10px 30px;
  margin-bottom:0;
  z-index:10;
  border-radius:0;
}
.navbar-left img{
  height:25px;
  width:auto;
}
.cart-link{
  padding-top:10px;
}
.cart-link img{
  height:22px;
  width:auto;
}
.cart-count{
  position: absolute;
  z-index: 10;
  top: 22px;
  right: 0;
  bottom: 3px;
  left: 0px;
  color: #ffffff !important;
  font-weight: 300;
  text-align: center;
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
  pointer-events:none;
}
#menu-link{
  cursor:pointer;
}
#nav-brand{
  width:80%;
  text-align: center;
  margin:0 auto;
  padding-top:10px;
  margin-bottom:40px;
  border-bottom:1px solid rgba(255,255,255,0.2);
}
#nav-brand img{
  width:40%;
  height:auto;
  margin:0 auto;
}
.nav-drop{
  position:fixed;
  width:250px;
  height:100%;
  right:-250px;
  top:75px;
  background:white;
  border-left:4px solid #00bbde;
  font-weight:400;
  text-align:center;
  z-index:9;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-drop ul{
  list-style: none;
  margin-bottom:0;
  padding-left:0;
  margin-top:30px;
}
.nav-drop ul li{
  font-size:0.9em;
  letter-spacing: 2px;
  padding-bottom:30px;
}
.nav-drop ul li a{
  color:#aaa;
}
.nav-drop ul li a:hover{
  color:#00bbde;
}
.nav-drop i{
  font-size:1.2em;
  padding-right:3px;
  color:#00bbde;
}
.drop-nav{
  right:0;
}
.layer{
  background:rgba(0,0,0,0.4);
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  opacity:0;
  pointer-events:none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  z-index:8;
}
.show-layer{
  opacity:1;
}
.gray-bg{
  background:#f8f9fa;
}
/*============================================
     INDEX PAGE = INTRO
=============================================*/
#title{
  min-height:550px;
  padding-top:150px;
  text-align: center;
  position:relative;
}
#title .content{
  -webkit-animation: zoomIn 0.5s ease-in-out;
  animation: zoomIn 0.5s ease-in-out;
}
#title h4{
  font-weight:400;
  line-height: 26px;
  opacity:1;
  font-size:14px;
  color:#797E7F;
  letter-spacing: 1px;
  padding:30px 0;
}
#title h1{
  font-weight:400;
  color:#555859;
  letter-spacing: 1px;
}
#title img{
  width:40%;
  position:absolute;
  left:0;
}
.product-about{
  text-align: right;
  margin:0 auto;
  padding:90px 0;
}
.product-about h3{
  color:#aaa;
  font-size:13px;
  font-weight:100;
  letter-spacing: 2px;
}
.product-about h1{
  color:#00bbde;
}
.product-about p{
  color:#333;
  line-height:27px;
  letter-spacing: 1px;
  font-weight:400;
}
.product-about img{
  width:60%;
  height:auto;
  padding-top:40px;
}
.screen img{
  width:100%;
  height:auto;
}
.product-drag{
  padding:100px 0;
  background:url('../img/about-bg-2.jpg') no-repeat center center;
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
}
.product-drag h2{
  font-size:60px;
  font-weight:100;
}
.product-drag h3{
  color:#333;
  font-size:19px;
  font-weight:100;
  line-height:1.5em;
}
#product-fix{
  background:rgb(247, 248, 248);
  color:black;
  text-align: right;
}
.icon{
  width:30%;
  height:auto;
  margin:0 auto;
}
/*============================================
     INDEX PAGE = INTRO-INFO
=============================================*/
#intro-info{
  margin:0 auto;
  padding-top:10px;
}
#intro-text{
  margin:0 auto;
  text-align: left;
  letter-spacing: 0em;
  word-wrap:normal;
  width:100%;
}
#intro-info p{
  padding-bottom:10px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size:0.8em;
}
#intro-text img{
  padding-top:50px;
  padding-bottom:50px;
  width:30%;
  height:auto;
}
#about-text{
  padding-left:0;
  border-right:1px solid rgba(0,0,0,0.3);
}
#about-text p{
  text-transform:none;
  letter-spacing: 1px;
}
#contact-text p{
  padding-bottom:0;
  margin-bottom:0;
  text-transform: none;
}
/*============================================
     FOOTER
=============================================*/
#sub-footer, #main-footer{
  color:#333;
}

#main-footer{
  min-height:100px;
  background:white;
  border-top:2px solid #00bbde;
  color:black;
  padding-top:40px;
}
#main-footer .content{
  width:70%;
  margin:0 auto;
}
#main-footer .row{
  padding:0;
}
.list-unstyled{
  margin-left:0;
  padding-left:0;
}
#main-footer .title{
  padding-bottom:15px;
  font-size:1em;
  font-weight:400;
  letter-spacing:2px;
  color:#00bbde;
}
#main-footer a li{
  font-size:0.9em;
  color:#333;
  font-weight:400;
  padding-bottom:7px;
  opacity:0.9;
  letter-spacing: 2px;

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
#main-footer a:hover{
  text-decoration: none;
  color:#1C1C1C;
}
#foot-info{
  color:#333;
  font-size:0.9em;
  font-weight:100;
}
#foot-info a{
  color:#333;
  text-decoration: underline;
}

/*============================================
        SHOP PAGE
=============================================*/
#shopp{
  width:50%;
  padding-top:100px;
  text-align: left;
}
#shopp h4{
  font-size:1em; 
  padding-bottom:10px;
  color:#595959;
  text-transform: uppercase;
  border-bottom:1px solid rgba(0,0,0,0.3);
}
.shop-item{
  padding:5px;
  text-align: center;
}
.shop-item img{
  width:100%;
  margin-bottom:10px;
}
.shop-item h5{
  font-weight:700;
  font-size:1.1em;
  color:#595959;
}
.cat-list{
  padding-top:10px;
  display:block;
  text-align: right;
  padding-left:0;
}
.cat-list .btn{
  margin-bottom:10px;
  margin-top:0;
  display:block;
  padding-top:10px;
  letter-spacing: 0;
}
.btn-default.active{
  background:black;
  color:white;
  border-color:black;
}
/*============================================
        CATEGORIES PAGE
=============================================*/
#dropdownMenu1{
  backround-color:white;
  border-radius:0;
}
.dropdown-menu{
  border-radius:0;
  border:none;
  box-shadow: none;
}
.btn-drop{
  background:white;
  border:1px solid rgba(0,0,0,0.1);
}
/*============================================
        PROFILE PAGE
=============================================*/
#profile-addresses{
  padding-top:100px;
}
#profile-changepassword .row{
  padding-top:0px;
}
#profile-addresses h3{
  border-top:1px solid rgba(0,0,0,0.3);
  margin-left:15px;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-top:10px;
}
#billing-info, #shipping-info{
  padding-left:0;
}
#profile-addresses .form-control{
  box-shadow:none;
  margin-left:0;
}
#profile-addresses .form-group{
}
/*============================================
        PRODUCT PAGE
=============================================*/
#feature{
  text-align: center;
  padding:100px 0;
}
.thumblist img{
  width:10%;
  height:auto;
  margin-top:10px;
  margin-right:10px;
  float:left;
  cursor:pointer;
}
#main-img img{
  width:100%;
  height:auto;
}
#product-detail{
  text-align: left;
}
#product-detail h2{
  color:#00bbde;
  font-weight:100;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#product-detail p{
  font-weight:400;
  color: rgba(0,0,0,0.8);
  line-height:1.5em;
}
#product-detail .price{
  color:#F2A318;
  font-weight:700;
  font-size:1.5em;
}
.quantity-selector{
  margin-top:15px;
}
.quantity-selector label{
  padding-right:20px;
  padding-top:10px;
}
.quantity-selector .quantity{
  width:50px;
  box-shadow:none;
}
.product-options select{
  height:50px;
  width:100%;
  border:1px solid rgba(0,0,0,0.09);
  background:rgba(0,0,0,0.02);
  border-radius:0;
  padding:10px;
  outline:none;
}
#product-page{
  width:70%;
  margin:0 auto;
  margin-top:100px;
}
/*============================================
        ABOUT PAGE
=============================================*/
#about{
  width:50%;
  margin-top:100px;
  text-align:center;
}
#about img{
  width:20%;
  height:auto;
  padding-top:20px;
}
#about p{
  width:50%;
  margin:0 auto;
}
/*============================================
     LOGIN/SIGNUP STYLES
=============================================*/
#login{
  width:30%;
  margin:0 auto;
  padding-top:100px;
  text-align:center;
}
.input-sm{
  border-radius:0px;
  box-shadow: none;
  border-radius:4px;
  padding:20px;
  display:inline-block;
  margin:0 auto;
  width:100%;
}
.form-group .col-sm-12{
  padding-left:0;
  margin-bottom:10px;
}
.form-group label{
  text-align:left;
  float:left;
}
.form-control:focus{
  border-color:black;
  box-shadow:none;
}
.forgotpass{
  padding-top:20px;
}
/*============================================
     CART STYLES
=============================================*/
#cartt{
  padding-top:100px;
}
#quantity{
  box-shadow: none;
  border-style:solid;
  border-color:rgba(0,0,0,0.3);
}
#shipping-info{
  
}
.disabled{
  pointer-events:none;
  background-color:#eee;
}
#shipping-enabled{

}
#mobile-cart{
  display: none;
}
#normal-cart{
}
#cart-items{
  padding:10px;
  font-size:0.8em;
  color:rgba(0,0,0,0.4);
}
#cart-img img{
  width:100%;
  height:auto;
}
#item-middle{
  padding-left:0;
}
#cart-row{
  border:none;
  min-height:150px;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:10px;
  position:relative;
}

#align-middle{
  padding:0;
  padding-top:4%;
}

#cart-row input{
  width:50px;
}

#cart-row a{
  color:rgba(0,0,0,0.5);
  margin-bottom:10px;
  padding-bottom:10px;
}

#summary{
  padding-top:50px;
  border-radius:0;
}
#summary li{
  border-radius:0;
}
#summary a{
  border-radius:0;
}

#summary .btn-default{
  margin-top:5px;
}
.form-control::-webkit-input-placeholder {
   color: #D4D4D4;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #D4D4D4;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #D4D4D4;
}

.form-control:-ms-input-placeholder {  
   color: #D4D4D4;
}

#coupon{
  padding:0;
}

.panel{
  -webkit-box-shadow:none;
  box-shadow:none;
}

.credit-card-input{
  background-image: url(../img/cards.jpg);
  background-position:2px 2px;
  background-size:45px 280px;
  background-repeat:no-repeat;
  padding-left:55px;
}
.defaultPosition{
  background-position:2px 2px;
}
.va{
  background-position:2px -40px;
}
.ma{
  background-position:2px -124px;
}
.mb{
  background-position:2px -166px;
}
.d{
  background-position:2px -208px;
}
.a{
  background-position:2px -250px;
}

/*============================================
        CHECKOUT PROCESS
=============================================*/
#checkout-row{
  margin:0;
}
#billing-info{
  padding-bottom:0;
}
#checkout-page .h6{
  margin-top:0;
}
#next-step{
  margin-right:15px;
  margin-top:5px;
}
#checkout-summary{
  margin-right:0px;
}
/*============================================
     RECEIPT STYLES
=============================================*/
#align-middle-receipt{
  padding-top:5%;
}

/*============================================
     MINI-CART STYLES
=============================================*/
#mini-cart{
  width:300px;
  box-shadow:none;
  padding:20px;
}
#mini-cart .row{
  padding-top:5px;
  padding-bottom:5px;
}
/*============================================
     SEARCH STYLES
=============================================*/
#search-item:hover{
  cursor:pointer;
}
#search-item{
  position:relative;
}
.search-form{
  position:absolute;
  float:left;
  width:300px;
  right:80px;
  box-shadow:none;
  background:#f7f8f8;
  pointer-events: none;
  opacity:0;
  top:10px;
  border:1px solid rgba(0,0,0,0.4);

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.active-search{
  opacity:1;
  display:inline-block;
  pointer-events:auto;
}
#shop div{
  padding-left:0;
}

#search-result{
  padding-top:100px;
  padding-bottom:0;
}

/*============================================
     CONTACT STYLES
=============================================*/
#contact{
  height:500px;
  width:100%;
  margin-bottom:25px;
  margin-top:0;
  text-align: center;
  background: url(../img/bg5.jpg)no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#contact h2{
  padding-top:250px;
  font-weight: 100;
  color:white;
}
#contact-form input, #contact-form textarea{
  display:block;
  margin-bottom:10px;
  border-radius:4px;
  box-shadow: none;
}
#btn-contact{
  display:block;
  text-align: center;
  margin:0 auto;
  outline:none;
  width:40%;
  margin-top:20px;
}
#contact-form{
  width:40%;
  margin:0 auto;
  text-align:center;
}
#contact-info{
  font-size:1em;
  width:40%;
  margin:0 auto;
  text-align:center;
  padding-bottom:20px;
  border-bottom:1px solid rgba(0,0,0,0.2);
}



.btn-default{
  border-radius:40px;
  background:#00bbde;
  border:none;
  border:2px solid #00bbde;
  color:white;
  margin-top:20px;

  font-size:1.2em;
  font-weight:400;
  text-transform: uppercase;
  letter-spacing:0.1em;
  padding:15px;
  font-size:1em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  outline:none;
}
.btn-default:hover{
  background:white;
  color:#00bbde;
  border:2px solid #00bbde;
}
.btn-outline{
  border:2px solid #00bbde;
  background:none;
  color:#00bbde;
}
.btn-outline:hover{
  border:2px solid #aaa;
}
.btn-important{
  border-radius:40px;
  border: 2px solid #00bbde;
  background:none;
  color:#00bbde;
  margin-top:20px;
  padding:17px;
  outline:none;

  font-size:1.2em;
  font-weight:400;
  letter-spacing:0.1em;
  font-size:1em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-important:hover{
  background:#00bbde;
  color:white;
}
.payment-button{
  color: white;
}
#title .btn-important .fa{
  float:right;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  font-size:17px;
  color:#00bbde;
  padding-left:10px;
}
#title .btn-important:hover .fa{
  color:white;
}
#logo-mob{
  height:12px;
  width:auto;
  padding-left:10px;
  float:left;
  padding-top:12px;
  display:none;
}


/*The checkout tabs styles*/
.checkout-tab-bar{
  border-bottom:2px solid #00bbde;
  padding: 10px;
  display:inline-block;
  width:100%;
  margin:0;
}
.checkout-tab p{
  padding: 0;
  margin: 0;
}
.checkout-tab .subtotal{
  padding: 0;
  margin: 0;
  padding-top:10px;
  border-top:1px solid #f1f1f1;
}
.checkout-tab row{
  margin: 0;
}
.checkout-tab .status{
  color: #333;
  text-rendering: geometricPrecision;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 0;
}
.checkout-tab .goback-icon{
  color: #67966B;
}
.checkout-arrow{
  float:left;
}.checkout-arrow:hover{
  cursor:pointer;
}
#cart-row a{
  color:black;
}
#cart-row .h6{
  color:rgba(0,0,0,0.5);
}
.checkout-content{
  display: none;
  transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
}
.no-padding{
  padding:0;
}
.checkout-open{
  display: block;
}
#shop-checkout-payment-method{
  padding-top:20px;
}
#payment-method .custom-radio{
  margin-right:10px;
}
#cart-img img{
  width:100%;
}
#checkout-row #title-p-d{
  padding:20px 0;
  padding-left:15px;
  border-bottom:0;
  letter-spacing: 0px;
}
#checkout-row .form-control{
  border-radius:0;
  box-shadow: none;
  -webkit-box-shadow:none;
}

#title-p-d .btn-form-mirror:hover{
  cursor:pointer;
}
#title-p-d .btn-form-mirror:focus{
  outline:none;
  color:#333;
  color: rgba(0, 0, 0, 0.498039);
  text-decoration: none;
}

#title-p-d .btn-form-mirror:visited{
  outline:none;
  color:#333;
  color: rgba(0, 0, 0, 0.498039);
  text-decoration: none;
}

#address-form, #shop-checkout-shipping-method{
  padding:30px 0 ;
}

#cart-row{
  margin:0;
  padding:0;
  min-height:110px;
}

#shop-checkout-shipping-method{
  margin:0;
}
#check-box{
  top:-2px;
}
#shipping-methods tr{
  display:inline-block;
  margin-top:20px;
  margin-right:20px;
  padding:20px;
  border:1px solid #f1f1f1;
}
#shipping-methods tr input{
  display:block;
  margin:10px auto;
}
#shipping-methods tr .narrow{
  display:block;
  text-align: center;
}
.popover{
  min-width:500px;
}

.payment-button{
  background:#5cb85c;
  border:none;
  border:0;
}

.goback-tab:hover{
  cursor:pointer;
  color:#67966B;
  text-decoration: none;
}
.goback-tab{
  color:#67966B;
  text-decoration: line-through;
}
 .goback-icon{
  color:#67966B;
 }
.payment-card .fa-question:hover{
  cursor: pointer;
}

.hide-desktop{
  display:none;
}
.show-desktop{
  display:inline-block;
}
.hide-mobile{
  display:block;
}
.show-mobile{
  display:inline-block;
}
.navbar-default .navbar-toggle:focus{
  background:white;
}
@media screen and (max-width: 991px) {
  
  .text-right{
    text-align: left;
  }
  .status{
    margin-top:10px;
  }
  .checkout-tab{
    margin-top:10px;
  }
  #shop-cart #cart-row {
    margin-top:10px;
    border:none;
  }
  #shop-cart #cart-row .col-sm-10{
    text-align: left;
    padding:0;
  }
  #shop-cart p{
    text-align: left;
  }
  #cart-img{
    text-align:center;
  }
  #cart-img img{
    width:80%;
    padding-bottom: 20px;
  }
  .hide-desktop{
    display:block;
  }
  .show-desktop{
    display:none;
  }
  .hide-mobile{
    display:none;
  }
  .show-mobile{
    display:block;
  }
  .checkout-tab-bar{
    margin-top:10px;
  }
  .navbar-nav>li{
    float:none;
  }
}
@media screen and (max-width: 767px){
  #cart-img img{
    width:20%;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .text-right{
    text-align: center;
  }
  .status{
    margin-top:10px;
  }
  .checkout-tab{
    margin-top:10px;
  }
  #shop-cart #cart-row {
    margin-top:10px;
  }
  #shop-cart #cart-row .col-sm-10{
    text-align: left;
    padding:10px 0;
  }
  #shop-cart p{
    text-align: left;
  }
  #cart-img img{
    width:40%;
    padding-bottom: 20px;
  }
  .hide-desktop{
    display:block;
  }
  .show-desktop{
    display:none;
  }
  .hide-mobile{
    display:none;
  }
  .show-mobile{
    display:inline-block;
  }
}

@media screen and (min-width: 1831px) {
  #title img{
    width:30%;
  }
}

@media screen and (max-width: 991px) {
/*============================================
        SHOP PAGE
=============================================*/
#title{
    min-height:555px!important;
  }
  #title .content{
    padding-top:230px;
  }
.shop-item{
  margin-bottom:100px;
  width:50%;
  float:left;
}
.shop-item img{
  width:100%;
}
.nav > li {
    display:inline-block;
    text-align: center;
  }
.navbar-left, .navbar-right{
    display:inline-block;
    width:50%;
  }
  .navbar-right{
    text-align: right;
  }
  
.item-detail{
  background:rgba(255,255,255,0.8);
  color:black;
  position:absolute;
  width:100%;
  height:100px;
  padding:0;
  top:100%;

  left:0;
  text-align: center;
  opacity:1;
}
.item-detail h2{
  padding-top:0px;
  font-size:1em;
}
/*============================================
     INDEX PAGE = FEATURED
=============================================*/
.feature-item{
  margin-bottom:110px;
}
#feature .item-detail{
  opacity:1;
  pointer-events:none;
  display:block;
}
#foot-info p{
  text-align: left;
}
#sub-footer .content div{
  margin-bottom:10px;
}
.search-bar{
  width:100%;
  opacity:0;
  position:relative;
  text-align: center;
  top:10px;
  margin:0 auto;
  z-index:999999;
  pointer-events:none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  padding-bottom:10px;
  margin-top:20px;
  opacity:1;
  display:block;
  pointer-events:auto;
}
#mobile-cart{
  padding-bottom:20px;
  vertical-align: top;
}
#search-item{
  display:none;
}


@media screen and (max-width: 480px) {

  /*============================================
     BASE STYLES
  =============================================*/
  body{
    text-align:center;
    padding-top:90px;
  }
  #intro-info{
    margin:0;
  }
  .row{
    padding-top:20px;
  }
  .content{
    width:100%;
    padding:10px;
  }
  .btn-important, .btn-default{
    width:100%;
  }
  #title .content{
    padding-top:30px;
  }
  /*============================================
       NAVIGATION STYLES
  =============================================*/
  .navbar{
    letter-spacing: 0em;
    font-size:1em;
    border:none;
    position:fixed;
    top:0;
    border-bottom:2px solid #ccc;
  }
  .navbar .content{
    width:95%;
  }
  .navbar-left, .navbar-right{
    display:inline-block;
    width:50%;
  }
  .nav > li {
    display:inline-block;
    text-align: center;
  }
  .navbar-toggle{
    border:none;
    border-radius:0;
  }
  .navbar-toggle:hover{
    background:none;
  }
  .navbar-toggle:active{
    background:black;
    color:white;
  }
  .navbar-default .navbar-nav>.open>a {
    background-color:none;
  }
  .navbar-default .navbar-nav>.open>a i{
    color:#e7e7e7;
  }
  .navbar-form{
    margin-right:0;
    margin-left:0;
  }
  #logo{
    display:none;
  }
  #logo-mob{
    height:12px;
    width:auto;
    padding-left:10px;
    float:left;
    padding-top:12px;
    display:block;
  }
  #logo-mob img{
    height:100%;
    width:auto;
  }
  .search-bar{
    margin-top:0;
  }
  .search-form{
    float:none;
    width:200px;
  }
  .nav-drop{
    position:fixed;
    width:100%;
    height:100%;
    right:-100%;
    top:80px;
    border-left:0;
    border-top:2px solid black;
    font-weight:100;
    text-align:center;
    z-index:9;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .drop-nav{
    right:0;
  }
  .cart-count{
    position: absolute;
    z-index: 10;
    top: 18px;
    right: 0;
    bottom: 3px;
    left: 0px;
    color: #ffffff !important;
    font-weight: 300;
    text-align: center;
    font-size: 10px;
    font-family: Helvetica, Arial, sans-serif;
    pointer-events:none;
  }
/*============================================
     INDEX PAGE = INTRO
=============================================*/
#title{
  padding-top:210px;
  margin-right:0;
  margin-left:0;
}
#title img{
  top:50px;
  width:70%;
}
#title h1{
  font-size:1.2em;
  padding-top:0;
}
#title h4{
  font-size:1em;
}
#product-drag, #product-fix, #product-about, #feature{
  margin-right:0;
  margin-left:0;
}
#product-about{
  width:95%;
  margin:0 auto;
}
/*============================================
     FOOTER
=============================================*/
#main-footer{
  width:100%;
  min-height:200px;
  color:white;
  text-align: left;
  margin:0;
}
#foot-info p{
  font-size:0.7em;
  padding-top:20px;
}
/*============================================
        SHOP PAGE
=============================================*/
.dropdown{
  width:100%;
}
#dropdownMenu1{
  width:100%;
}
.dropdown-menu{
  width:100%;
  box-shadow: none;
  border-radius:0;
  border:none;
}
.shop-item{
  margin-bottom:50px;
  width:50%;
  display:inline-block;
}
.shop-item img{
  width:100%;
  margin-bottom:0px;
}
.item-detail{
  background:rgba(255,255,255,0.8);
  color:black;
  position:absolute;
  width:100%;
  height:40px;
  padding:0;
  top:100%;

  left:0;
  text-align: center;
  opacity:1;
}
.item-detail h2{
  padding-top:0px;
  font-size:1em;
}
#shopp{
  padding-top:0;
  width:98%;
}
/*============================================
     INDEX PAGE = FEATURED
=============================================*/
.feature-item{
  width:100%;
  float:left;
  margin-bottom:40px;
}
.feature-item img{
  margin-bottom:20px;
}
#feature .item-detail{
  opacity:1;
  height:20px;
  pointer-events:none;
  display:block;
}

/*============================================
        PRODUCT PAGE
=============================================*/
#shop-product{
margin-right:0;
margin-left:0;
text-align: center;
}
#product-page{
  margin:0 auto;
  width:100%;
  margin-top:50px;
}
#product h2{
  font-size:1.5em;
}
#product img{
  width:100%;
  height:auto;
}

#product-gallery{
  padding:20px 0;
}

#product-gallery ul li img{
  width:80%;
  display:inline-block;
  margin:0 auto;
}

.product-options{
  display:inline-block;
  padding:5px;
}
.thumblist img{
  width:90%;
  margin:0 auto;
  margin-bottom:10px;
}

.form-control{
  min-width:50px;
  box-shadow:none;
  border-radius:0px;
  margin:0 auto;
}
#attributes{
  text-align:center;
}
#product-detail{
}
#product-detail .quantity-selector .quantity{
  margin-left:0;
}
.quantity-selector input{
  width:50px;
}
#main-img{
  display:none;
}
/* Select Styles */
select {
  background:white;
  border:none;
  border-radius:0;
  border:1px solid #ccc;
}
.select-option{
  border-radius:0;
}
/*============================================
        ABOUT PAGE
=============================================*/
#about{
  margin-top:0;
  margin-bottom:20px;
  width:95%;
}
#about img{
  width:50%;
  height:auto;
}
#about p{
  width:90%;
}
/*============================================
     LOGIN/SIGNUP STYLES
=============================================*/
#login{
  width:90%;
  padding-top:0;
}
.input-sm{
  border-radius:4px;
}
.form-control:focus{
  border-color:black;
}

/*============================================
     CONTACT STYLES
=============================================*/
#contact{
  height:200px;
}
#contact h2{
  font-size:1.3em;
  padding-top:70px;
}
#contact-info, #contact-form{
  width:90%;
}
/*============================================
     CART STYLES
=============================================*/
#normal-cart{
  display: none;
}
#mobile-cart{
  display:inline;
}

#cart-content{
}
#cart-img img{
  width:100%;
  height:auto;
}
#cart-items{
  visibility: hidden;
  height:0;
}
#cart-row{
  border:1px solid rgba(0,0,0,0.2);
  min-height:150px;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:10px;
  position:relative;
}

#align-middle{
  text-align: left;
  padding-left:20px;
  padding-top:7%;
}

#cart-row input{
  width:50px;
}

#cart-row a{
  color:black;
  margin-bottom:10px;
  padding-bottom:10px;
}

#summary{
  padding-top:10px;
  border-radius:0;
}
#summary li{
  border-radius:0;
}
#summary a{
  border-radius:0;
}

#summary .btn-default{
  margin-top:5px;
}

.checkout-content .pull-left{
  float:right!important;
}

/*============================================
     MINI-CART STYLES
=============================================*/
#mini-cart{
  width:300px;
  box-shadow:none;
  padding:20px;
}
#mini-cart .row{
  padding-top:5px;
  padding-bottom:5px;
}
/*============================================
     SEARCH STYLES
=============================================*/
#search-item:hover{
  cursor:pointer;
}

.search-bar{
  width:100%;
  opacity:0;
  position:relative;
  text-align: center;
  top:10px;
  margin:0 auto;
  z-index:999999;
  pointer-events:none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  padding-bottom:10px;
  margin-top:20px;
  opacity:1;
  display:block;
  pointer-events:auto;
}
#mobile-cart{
  padding-bottom:20px;
  vertical-align: top;
}
#search-item{
  display:none;
}
}






.pagination-holder{
  position:absolute;
  bottom:0;
  padding-left:0;
}
.pagination-holder > ul{
  -webkit-padding-start:0px;
}
.pagination-holder > ul > li {
  display: inline;
}
.pagination-holder > ul > li > a,
.pagination-holder > ul > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #0c4d6c;
  background-color: #ffffff;
  border: 1px solid rgb(108, 122, 137);
  margin-left: -1px;
}
.pagination-holder > ul > li:first-child > a,
.pagination-holder > ul > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination-holder > ul > li:last-child > a,
.pagination-holder > ul > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination-holder > ul > li > a:hover,
.pagination-holder > ul > li > span:hover,
.pagination-holder > ul > li > a:focus,
.pagination-holder > ul > li > span:focus {
  color: #041c27;
  background-color: rgb(108, 122, 137);
  border-color: rgb(108, 122, 137);
}
.pagination-holder > ul > .active > a,
.pagination-holder > ul > .active > span,
.pagination-holder > ul > .active > a:hover,
.pagination-holder > ul > .active > span:hover,
.pagination-holder > ul > .active > a:focus,
.pagination-holder > ul > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: rgb(108, 122, 137);
  border-color: rgb(108, 122, 137);
  cursor: default;
}
.pagination-holder > ul > .disabled > span,
.pagination-holder > ul > .disabled > span:hover,
.pagination-holder > ul > .disabled > span:focus,
.pagination-holder > ul > .disabled > a,
.pagination-holder > ul > .disabled > a:hover,
.pagination-holder > ul > .disabled > a:focus {
  color: #999999;
  background-color: rgb(108, 122, 137);
  border-color: rgb(108, 122, 137);
  cursor: not-allowed;
}
.pagination-holder > ul > li > a {
  border-radius: 0 !important;
}



















