/* Card Form */

.ls-card-form {
    width: 100%;
}
.card-form-expiry-outer label {
    display: inherit;
}
.card-table {
    font-size: 15px;
    background-color: #E7E7E7;
}
.card-table th {
    padding: 10px;
    color: #4A4A4A;
}
.card-table a,
.card-table a:hover,
.card-table a:focus {
    text-decoration: underline;
}
.card-form-close {
    display: none;
}
.card-form-open {
    display: block;
}
.ls-card-form .submit-button,
.ls-card-form .delete-button {
    border-radius: 40px;
    background: #00bbde;
    border: none;
    border: 2px solid #00bbde;
    color: white;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 15px;
    font-size: 1em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    outline: none;
}
.ls-card-form .submit-button:hover,
.ls-card-form .delete-button:hover {
    background: white;
    color: #00bbde;
    border: 2px solid #00bbde;
}