/* Card Form */

.ls-card-form {
    width: 100%;
}
.card-form-expiry-outer label {
    display: inherit;
}
.card-table {
    font-size: 15px;
    background-color: #E7E7E7;
}
.card-table th {
    padding: 10px;
    color: #3A3D3F;
}
.card-table a,
.card-table a:hover,
.card-table a:focus {
    text-decoration: underline;
}
.card-form-close {
    display: none;
}
.card-form-open {
    display: block;
}
.ls-card-form .submit-button,
.ls-card-form .delete-button {
    border-radius: 40px;
    background: #00bbde;
    border: none;
    border: 2px solid #00bbde;
    color: white;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 15px;
    font-size: 1em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    outline: none;
}
.ls-card-form .submit-button:hover,
.ls-card-form .delete-button:hover {
    background: white;
    color: #00bbde;
    border: 2px solid #00bbde;
}
.ls-card-form .card-form-input {
    background-color: #FFF;
    border: 1px solid #DDD;
    font-family: inherit;
    box-shadow: none;
}
.ls-card-form .card-form-input:focus {
    border-color: black;
    background-color: inherit;
}
.ls-card-form .card-form-input::-webkit-input-placeholder {
    font-family: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    color: #D4D4D4;
}
.ls-card-form .card-form-input:-moz-placeholder {
    /* Firefox 18- */
    
    font-family: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    color: #D4D4D4;
}
.ls-card-form .card-form-input::-moz-placeholder {
    /* Firefox 19+ */
    
    font-family: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    color: #D4D4D4;
}
.ls-card-form .card-form-input:-ms-input-placeholder {
    font-family: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    color: #D4D4D4;
}